<!DOCTYPE html>
<html>
    <head>
      <Title>Class Dashboard</Title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>   <!-- jquery CDN -->
      <script src="/scripts/class.js"></script>
    </head>

    <body>

        <%- include('partials/nav2'); -%>   

        <header>
            <ul>
                <li>
                    <h4><a href="../dashboard/:<%=user[0].Userid%>">Dashboard</a></h4>
                </li>
            </ul>
            <h1><%=classInfo[0].ClassName%></h1>
            <h3>This is the Gradeasy Class Page</h3>
        </header>
        <section id="Students">
            <div>
                <h2><a href="students/:<%=classInfo[0].Classid%>">Students</a></h2>
            </div>
        </section>
        <Section id="Assignments">
            <div>
                <h2>These are your assignments</h2>

            </div>
            <div>
                <ul class="Assignments">
                    <li id="assignmentCreation"><a href="assignmentcreation/:<%= classInfo[0].Classid %>">Create New Assignment</a></li>
                    <% for(var i=assignments.length-1; i>=0; i--){ %>
                        <li><%=assignments[i].AssignmentName%></li>
                        <ul class="AssignmentOptions">
                            <li id="assignmentEdit"><a href="assignmentEdit/:<%=assignments[i].Assignmentid%>">Edit</a></li>
                            <li id="assignmentPrint"><a href="assignmentPrint/:<%=assignments[i].Assignmentid%>">Print</a></li>
                            <li id="assignmentGrade"><a href="assignmentGrade/:<%=assignments[i].Assignmentid%>">Grade</a></li>
                            <li id="assignmentResults"><a href="assignmentResults/:<%=assignments[i].Assignmentid%>">Results</a></li>
                        </ul>
                    <% }; %>
                </ul>
                
            </div>
            
        </Section>

        <%- include('partials/footer'); -%>

    </body>
</html>

