<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="../styles/style.css">
        <Title>Class Dashboard</Title>
    </head>

    <body>

        <%- include('partials/nav2'); -%>
        <br>
        
        <br><br>

        <header>
            <h1 class="center"><%=classInfo[0].ClassName%></h1>
        </header>
        <br>
        <section id="Students">
            <div class="row">
                <p class="col-sm-4 center"><a href="../dashboard/:<%=user[0].Userid%>">Back to Dashboard</a></p>
                <p class="col-sm-4 center"><a href="students/:<%=classInfo[0].Classid%>">List of Students</a></p>
                <p class="col-sm-4 center"><a href="assignmentcreation/:<%= classInfo[0].Classid %>">Create New Assignment</a></p>
            </div>
        </section>
        <br><br>


          <div class="container">

            <% for(var i=assignments.length-1; i>=0; i--){ %> 

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%=assignments[i].AssignmentName%></th>
                  <th><a href="assignmentEdit/:<%=assignments[i].Assignmentid%>">Edit</a></th>
                  <th><a href="assignmentPrint/:<%=assignments[i].Assignmentid%>">Print</a></th>
                  <th><a href="assignmentGrade/:<%=assignments[i].Assignmentid%>">Grade</a></th>
                  <th><a href="assignmentResults/:<%=assignments[i].Assignmentid%>">Results</a></th>
                </tr>
              </thead>
            </table>
            <% }; %>
          </div>

          <br><br><br><br>
          <br><br><br><br>
          <br><br><br><br>
          

        <%- include('partials/footer'); -%>

    </body>
</html>

<style>

li{
    list-style: none;
}



#assignments .col {
  border: 1px solid #c9c9c9;
}

#assignmentName{
    font-weight: bold;
}


</style>


<!-- <Section id="Assignments">
    <div>
        <h2 class="center">These are your assignments</h2>
    </div>
    <div>
        <ul class="Assignments">
            <li id="assignmentCreation"><a href="assignmentcreation/:<%= classInfo[0].Classid %>">Create New Assignment</a></li>
            <% for(var i=assignments.length-1; i>=0; i--){ %>
                <li><%=assignments[i].AssignmentName%></li>
                <ul class="AssignmentOptions">
                    <li id="assignmentEdit"><a href="assignmentEdit/:<%=assignments[i].Assignmentid%>">Edit</a></li>
                    <li id="assignmentPrint"><a href="assignmentPrint/:<%=assignments[i].Assignmentid%>">Print</a></li>
                    <li id="assignmentGrade"><a href="assignmentGrade/:<%=assignments[i].Assignmentid%>">Grade</a></li>
                    <li id="assignmentResults"><a href="assignmentResults/:<%=assignments[i].Assignmentid%>">Results</a></li>
                </ul>
            <% }; %>
        </ul>
    </div>
    
</Section> -->
