<!DOCTYPE html>
<html>
    <head>
        <Title>Gradeasy Grade page</Title>
    </head>

    <body>

        <header>
            <ul>
                <li>
                    <h4><a href="../../dashboard/:<%=user[0].Userid%>">/Dashboard</a></h4>
                </li>
                <li>
                    <h4><a href="../:<%=classInfo[0].Classid%>">/<%=classInfo[0].ClassName%></a></h4>
                </li>
            </ul>
            <h1>Upload a file for <%=assignment[0].AssignmentName%></h1>
        </header>
        
        <form action="uploadfile/:<%=assignment[0].Assignmentid%>" method="POST" enctype="multipart/form-data">
        <input type="text" name="studentname" placeholder="Student Name">
        <input type="file" name="filetoupload"><br>
        <button id="upload">upload</button> 
        </form>

        <%- include('partials/footer'); -%>

    </body>
</html>